.libraryWrap{
	width:150px;
	display:inline-block;
	margin-right:50px;
	margin-bottom:10px;
}
.libraryWrap.selected{
	border:3px solid red;
}
.libraryWrap .bImg{
  float:left;
}
.libraryWrap .sImg{
  float:right;
}
.libraryWrap .clr{
  clear:both;
}
.libraryImages{
	display:none;
}
.stageWrapper{
	display:inline-block;
	width:400px;
}
.stageAction{
	padding-bottom:10px;
}
#myLibrary,#imagesWrapper{
 text-align:center;
 }